<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Hello World</title>
</head>
<body>
<h1 th:href="${host}">hello world</h1>
<form th:action="@{/logout}">
    <input type="submit" value="log out"/>
</form>
<p> <span sec:authentication="name"></span>权限是：<span sec:authentication="principal.authorities"></span></p>
<p><a href="./admin">admin</a></p>
<p><a href="./user">user</a></p>
</body>
</html>